<launch>
    <arg name="offline"          default="false"/>
    <include unless="$(arg offline)" 
        file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true"/>
        <arg name="linear_accel_cov" value="1.0"/>
        <arg name="unite_imu_method" value="linear_interpolation"/>
    </include>
    
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="ImuFilter">
        <param name="use_mag" type="bool" value="false" />
        <param name="_publish_tf" type="bool" value="false" />
        <param name="_world_frame" type="string" value="enu" />
        <remap from="/imu/data_raw" to="/camera/imu"/>
    </node>

    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="args" value=""/>
        <arg name="rgb_topic" value="/camera/color/image_raw"/>
        <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw"/>
        <arg name="camera_info_topic" value="/camera/color/camera_info"/>
        <arg name="depth_camera_info_topic" value="/camera/depth/camera_info"/>
        <arg name="rtabmapviz" value="true"/>
        <arg name="rviz" value="true"/>      
    </include>

    <include file="$(find robot_localization)/launch/ekf_template.launch"/>
     
    <param name="/ekf_se/frequency" value="300"/>
    <param name="/ekf_se/base_link_frame" value="camera_link"/>
    <!-- * -->
    <param name="/ekf_se/odom0_differential" value="true"/>
    <param name="/ekf_se/odom0_relative" value="false"/>
    <param name="/ekf_se/odom0" value="rtabmap/odom"/>
    <rosparam param="/ekf_se/odom0_config">[true,true,false,
                                            false,false,true,
                                            false,false,false,
                                            false,false,false,
                                            false,false,false]
    </rosparam>
    <param name="/ekf_se/odom0_pose_rejection_threshold" value="10000000"/>
    <param name="/ekf_se/odom0_twist_rejection_threshold" value="10000000"/>
    
    
    <param name="/ekf_se/odom1_differential" value="true"/>
    <param name="/ekf_se/odom1_relative" value="false"/>
    <param name="/ekf_se/odom1" value="odom_whl_encdrs"/>
    <rosparam param="/ekf_se/odom1_config">[true,true,false,
                                            false,false,true,
                                            false,false,false,
                                            false,false,false
                                            false,false,false]
    </rosparam>
    
    <param name="/ekf_se/odom1_pose_rejection_threshold" value="10000000"/>
    <param name="/ekf_se/odom1_twist_rejection_threshold" value="10000000"/> 
    
    <!-- * Not seeing anything publish for rostopic /imu/data * -->
    <param name="/ekf_se/imu0" value="/imu/data"/>
    <rosparam param="/ekf_se/imu0_config">[false, false, false,
                                           true,  true,  true,
                                           true,  true,  true,
                                           true,  true,  true,
                                           true,  true,  true]
    </rosparam>
    <param name="/ekf_se/imu0_differential" value="true"/>
    <param name="/ekf_se/imu0_relative" value="false"/>
    <param name="/ekf_se/use_control" value="false"/>
    
    <!-- <param name="/ekf_se/odom0_config" value="{true,true,true,}"/> -->
    
    
    <node pkg="tf" type="static_transform_publisher" name="d435i_to_base_link_tf" args="0 0 -0.66  0 0 0 /odom0 /base_link   100"/>
    <node pkg="tf" type="static_transform_publisher" name="cam_to_odom0_tf" args="0 0 0  0 0 0 /camera_link /odom0   100"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_base_ftprint_tf" args="-0.032 0.0 -0.095 0 0 0 /base_link /base_footprint  100"/>
    <!--   
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_odom1" args="0.0 0.0 0.0 0 0 0 /base_link /odom1 100"/>
    <node pkg="tf" type="static_transform_publisher" name="base_ftprint_to_map" args="0.0 0.0 0.0 0 0 0 /base_footprint /map 100"/>
    -->
    
</launch>
